*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary-color:#ffc567;
    --fill-color:#fd5a46;
    --text-color:black;
    --theme:var(--primary-color);
    --color-primary: blue;
}
.dark-theme{
    --primary-color:black;
    --fill-color:#555ead;
    --text-color:#f4f1e4;
    --theme:#f5759f;
}
.whole{
    background-color: var(--theme);
}
.bg-theme{
     background-color: var(--theme);
}
.bar{
    display: none;
}
.sidebar{
    display: none;
}
nav{
    top:0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 4.8%;
    background-color: transparent;
    margin:0;
}
.logo-h5{
    font-weight: bold;
    font-size: 30px;
    color: var(--text-color);
}
.nav-list{
    justify-content: space-between;
    align-items: center;
    padding:22px;
}
.page1-li{
    color:var(--text-color);
}
.nav-list-ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    gap:60px;
    padding: 22px;
}
.page1-li{
    font-weight: bold;
}
.page1-button{
    border:none;
    padding:15px;
    background-color: var(--primary-color);
    border-radius: 50px;
    color:var(--text-color);
    width:50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.page1-h1{
    font-weight: bold;
    padding-top:5%;
    padding-left: 9%;
    font-size:90px;
}

.page1-p{
    padding-left: 9.5%;
    padding-top: 0;
    font-weight: bolder;
}
.page1-p2{
    padding-left: 9.5%;
    padding-top: 2%;
    width: 900px;
}
.list-2ofpage1{
    display:flex;
    align-items: center;
    padding:1% 1%;
    padding-top: 2%;
}
.scroll-btn{
    margin-left: 9.5%;
    margin-top: 5%;
    border: none;
    padding: 10px;
    border-radius: 29px;
    background-color: var(--fill-color);
    width: 150px;
    height: 50px;
    color: var(--text-color);
}
.scroll-span{
    margin-left: 2%;
}

 nav{
    padding:22px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--fill-color);
    position: relative;
    height: 70px;
    
}

nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    color: black;
    gap:40px;
}

nav ul li a{
    text-decoration: none;
    color:var(--text-color);
    font-weight: bold;
    font-size:18px;
    cursor: pointer;
}

nav ul li button{
    font-weight: bold;
    font-size:16px;
    width: 10px;
    cursor: pointer;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
}
.github-btn{
    padding: 9px;
    border: none;
    border-radius: 25px;
    margin-top: 9%;
    margin-left: 3%;
}
.github-btn i{
    font-size: 30px;
}
strength-h1{
    color:var(--text-color);
}
.strength-h6{
    font-size: 17px;
    margin-top: 8%;
    color: var(--text-color);
}
.strength-button{
    border: none;
    align-items: center;
    padding: 5px;
    width: 200px;
    border-radius: 22px;
    background-color: var(--theme);
    margin-left: 15%;
    margin-top: 5%;
}
.aboutme{
    background-color: var(--theme);
}
.page2-first-div{
    text-align: center;
    padding-bottom: 9%;
    font-size: 90px;
}
.page2-h6{
    font-size: 90px;
    color:rgb(1, 1, 72);
}
.page2-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   align-items: center;
   padding:22px 9%;
    gap:0px;
   
}
.page2-list-first-div{
   border-radius: 22px;
    background-color: var(--fill-color);
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    cursor: pointer;
}
.to-left-1-i{
    padding-top: 15%;
    padding-left: 10%;
    font-size: 25px;
    color:white;
}
.to-left-1-span{
    padding-left: 10%;
    padding-top: 19%;
    color:white;
}
.straight-line{
    text-align: center;
    color:white;
    padding-left: 9%;
}
.page2-list-sec-div{
    border-radius: 22px;
     background-color: var(--fill-color);
     width: 150px;
     height: 150px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
     margin: 0 auto; 
     cursor: pointer;
 }
 .page2-list-third-div{
    border-radius: 22px;
     background-color: var(--fill-color);
     width: 150px;
     height: 150px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
     margin: 0 auto;
     cursor: pointer;
 }
.wrapper{
    padding: 10px;
    background-color: var(--fill-color);
    width: 300px;
    height: 350px;
    align-items: center;
    border-radius: 15px;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom: 2%;
    
}
.sim-input, .large{
    border:none;
}
.sim-input{
    padding: 10px;
    border-radius: 15px;
    margin-top: 5%;
    width: 280px;
}
.large{
    margin-top: 5%;
    padding: 10px;
    border-radius: 15px;
    width: 280px;
    padding-bottom: 90px;
}
.send-btn{
    margin-top: 5%;
    border:none;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.page3-h6{
    font-size: 25px;
    text-align: center;
    margin-top: 10%;
}
.page2-h6{
    font-size: 25px;
}
.contact-btn{
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #ffc567;
    margin-top: 10%;
    margin-left: 5%;
    cursor: pointer;
}
.contact-span{
    margin-left: 5%;
}
.pj-wrapper{
    margin: 0 auto;
}
.pj-list-btn{
    padding: 10px;
    border: none;
    width: 300px;
    border-radius: 22px;
    font-size: 22px;
}
.aboutme-wrapper{
    padding: 5px;
    color: whitesmoke;
   width: 400px;
   height: 690px;
   align-items: center;
   border-radius: 20px;
   margin:0 auto;
   margin-top: 10%;
   margin-bottom: 2%;
}
.aboutme-h1{
    margin-left: 4%;
    color:var(--text-color);      
 }
.aboutme-span{
    text-align: center;
    margin-left: 5%;
    color:var(--text-color);
 }
.aboutme-btn{
   padding: 10px;
   border: none;
   border-radius: 50%;
   background-color:rgb(239, 74, 74);
   margin-top: 3%;
   margin-left: 3%;
 }
.aboutme-span-2{
    margin-left: 20%;
    text-align: center;
    margin-top: 2%;
    color:var(--text-color);
}
.aboutme-span-3{
    margin-left: 20%;
    text-align: center;
    padding-top: 50%;
    color:var(--text-color);
}
.aboutme-p{
     color:var(--text-color);
}
 .id-div{
    width: 350px;
    margin:0 auto;
}
.id-img{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 22%; 
}
.page2-button{
padding: 20px;
border: none;
width: 70px;
font-size: 25px;
background-color: var(--fill-color);
border-radius: 50px;
 margin: 0 auto;
}
.page2-p{
    font-size: 22px;
    margin-top: 5%;
  color: var(--text-color);
}
.wrapper-form{
padding: 10px;
background-color: var(--fill-color);
width: 300px;
height: 300px;
align-items: center;
border-radius: 15px;
margin:0 auto;
margin-top: 10%;
margin-bottom: 20%;
}
.wrapper-form-strength{
padding: 10px;
background-color: var(--fill-color);
width: 300px;
height: 300px;
align-items: center;
border-radius: 15px;
margin:0 auto;
margin-top: 30%;
margin-bottom: 20%;
}
.footer{
background-color: #333;
text-align: center;
padding-top: 10%;
}
.copyright-wrapper{
background-color: #ffc567;
padding: 2%;
}
.social-link-list{
top:0;
padding: 10px;
text-align: center;
margin-bottom: 5%;
}
.footer-btn{
padding: 10px;
margin-top: -20%;
border: none;
background-color: #f5759f;
border-radius: 50px;
}
.edu-div{
background-color: transparent;
height: 200px;
border-radius: 30px;
margin-top: 5%;
padding-top: 22px;
}
.edu-img{
width: 250px;
height: 300px;
border-radius: 30px;
}
.pj1{
width: 350px;
height: 200px;
border-radius: 15px;
margin-top: 2%;
margin-left: 9%;
margin-bottom: 7%;
}
.edu-div2{
height: 200px;
}
/* circular */
.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
    background: conic-gradient(var(--fill-color) calc(var(--progress) * 1%), white 0%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7%;
  }
  .circular-h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  .progress-circle::before {
    content: attr(data-progress) '%';
    position: absolute;
    font-size: 24px;
    color: #333;
  }
  .circular-list{
    display: flex;
    margin: 0 auto;
  }
  .circular-h6{
    margin-top: 40%;
    font-size: 13px;
  }
  .circular-wrapper{
    margin-top: 35%;
  }
 .id2-img{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 5%; 
 }
.wrapper-form-edu{
    padding: 10px;
    background-color: var(--fill-color);
    width: 400px;
    height: 610px;
    align-items: center;
    border-radius: 15px;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
  }
.strength-h6-edu{
    font-size: 17px;
    margin-top: 8%;
    width: 300px;
    color: var(--text-color);
}
.btnedu{
    background-color:var(--theme);
    color: var(--text-color);
    padding: 9px;
    border-radius: 20px;
    border-style: dotted solid 5%;
    border-color:black;
}
.btnpdf{
    background-color:var(--theme);
    color: var(--text-color);
    padding: 9px;
    border-radius: 20px;
    border-style: dotted solid 5%;
    margin-top: 6%;
    border-color:black;
    width: 300px;
    margin-left: 4%;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .card {
    width: 100px;
    border: 9px solid var(--fill-color);
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--fill-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card h3 {
    color: var(--text-color); 
  }

  .card p {
    color: var(--text-color);
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  .projectbtn{
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 22px;
    margin-bottom: 10px;
    width: 200px;
  }


  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }

    .card {
      width: 90%;
    }
  }


 @media only screen and (max-width:540px){
    .whole{
        background-color: var(--theme);
        
    }
   .page1-h1{
    font-size: 60px;
   }
   .page1-p2{
    width: 350px;
   }
   .main-img{
    width: 250px;
    height: 200px;
    margin-left: 35%;
    margin-top: 0%;
   }
     nav ul{
     position: absolute;
     top: 70px;
     left: 0;
     right: 0;
     flex-direction: column;
     text-align: center;
     background: var(--fill-color);
     gap: 0;
     overflow: hidden;
        }
        nav ul li{
            padding: 20px;
            padding-top: 0;
            
        }
        .menu-icon{
            display: block;
            font-size: 24px;
            color:var(--text-color);
        
        }
        #menuList{
            transition: all 0.5s;
        }

        .logo-h5{
            font-size:26px;
        }
        .page2-h6{
            font-size: 45px;
            margin-top: 40%;
        }
        .page2-list{
            display:block;
            align-items: center;
            padding-left:15%;
            padding-top: 0%;
        }
        .page2-list-first-div{
        width: 250px;
        height: 120px;
        }
        .page2-list-sec-div{
           margin-top: 10%;
           width: 250px;
        height: 120px;
        }
        .page2-list-third-div{
            margin-top: 10%;
            width: 250px;
        height: 120px;
        }
        .page2-list-fourth-div{
            margin-top:10%;
            width: 250px;
        height: 120px;
        }
        .page2-list-fifth-div{
            margin-top: 22%;
            padding-left: 30%;
        }
        .to-left-1-i{
            padding-top: 9%;
        }
        .page3-h6{
            font-size: 35px;
            margin-top: 30%;
        }
        .wrapper{
            margin-top: 30%;
        }
        .wrapper{
            padding: 10px;
            background-color: var(--fill-color);
            width: 300px;
            height: 350px;
            align-items: center;
            border-radius: 15px;
            margin:0 auto;
            margin-top: 10%;
            margin-bottom: 2%;
        }
        .sim-input, .large{
            border:none;
        }
        .sim-input{
            padding: 10px;
            border-radius: 15px;
            margin-top: 5%;
            width: 280px;
        }
        .large{
            margin-top: 5%;
            padding: 10px;
            border-radius: 15px;
            width: 280px;
            padding-bottom: 90px;
        }
        .send-btn{
            margin-top: 5%;
            border:none;
            padding: 10px;
            border-radius: 15px;
            width: 100px;
            background-color: black;
            color:white;
            cursor: pointer;
        }
        
        .page2-h6{
            font-size: 25px;
        }
        .contact-btn{
            padding: 10px;
            border: none;
            border-radius: 50%;
            background-color: #ffc567;
            margin-top: 10%;
            margin-left: 5%;
        }
        .contact-span{
            margin-left: 5%;
        }
        .pj-wrapper{
            margin-top: 15%;
            margin-left:13%;
        }
        .pj-list-btn{
            padding: 10px;
            border: none;
            width: 300px;
            border-radius: 22px;
            font-size: 22px;
        }
        .footer{
            background-color: #333;
            text-align: center;
            padding-top: 10%;
        }
        .copyright-wrapper{
            background-color: #ffc567;
            padding: 2%;
        }
        .social-link-list{
            top:0;
            padding: 10px;
            text-align: center;
            margin-bottom: 5%;
        }
        .footer-btn{
            padding: 10px;
            margin-top: -20%;
            border: none;
            background-color: #f5759f;
            border-radius: 50px;
        }
        .id-img{
            align-items: center;
        }
        .wrapper-form{
    padding: 10px;
    background-color: var(--fill-color);
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 15px;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
        }
        .aboutme-wrapper{
     padding: 10px;
    width: 400px;
    height: 690px;
    align-items: center;
    border-radius: 20px;
    margin:0 auto;
    margin-top: 10%;
    margin-bottom: 2%;
        }
        .aboutme-h1{
            margin-left: 4%;
           
        }
        .aboutme-span{
            text-align: center;
            margin-left: 5%;
        }
        .aboutme-btn{
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color:rgb(239, 74, 74);
    margin-top: 3%;
    margin-left: 5%;
        }
        .aboutme-span-2{
            margin-left: 20%;
            text-align: center;
            margin-top: 2%;
        }
        .aboutme-span-3{
            margin-left: 20%;
            text-align: center;
            padding-top: 50%;
        }
        .edu-div{
            background-color: transparent;
            height: 200px;
            border-radius: 30px;
            margin-top: 5%;
            padding-top: 22px;
        }
        .aboutme-p{
            padding-left: 22px;
            padding-top: 22px;
        }
        .aboutme-p2{
            padding-left: 22px;
            padding-top: 1px;
            padding-bottom: 22px;
        }
        .page2-button{
            padding: 20px;
            border: none;
            width: 70px;
            font-size: 25px;
            background-color: var(--fill-color);
            border-radius: 50px;
            margin: 0 auto;
        }
        .page2-p{
            font-size: 22px;
            margin-top: 5%;
          color: var(--text-color);
        }
        .progress-container {
            background-color: var(--fill-color);
            border-radius: 22px;
            padding: 25px;
            margin-top: 10%;
            height: 400px;
        }
        .skill-img{
            width: 300px;
            height: 300px;
        }
       .edu-img{
            width: 140px;
            height: 190px;
            border-radius: 20px;
            margin-left: 5%;
            margin-top: 5%;
        }
        .id-img{
            width: 100%;
            height: 200px;
            margin: 0 auto;
            margin-top: 22%;
           }
          .wrapper-form-edu{
            padding: 10px;
            background-color: var(--fill-color);
            width: 350px;
            height: 610px;
            align-items: center;
            border-radius: 15px;
            margin:0 auto;
            margin-top: 10%;
            margin-bottom: 20%;
          }
          .strength-h6-edu{
            font-size: 17px;
            margin-top: 8%;
            width: 300px;
            color: var(--text-color);
        }
 }
 @media only screen and (min-width:360px){
    .aboutme-wrapper{
    width: 380px;
    height: 690px;
    }
    #menuList{
        width: 100%;
    }
    .h1-btn-edu{
        margin-left: 8%;
    }
    .edu-star,.edu-span{
        font-size: 20px;
    }
    .edu-btn{
        margin-left: 13%;
    }
    .aboutme-wrapper{
        padding: 10px;
       width: 400px;
       height: 690px;
       align-items: center;
       border-radius: 20px;
       margin-top: 10%;
       margin-bottom: 2%;
           }
           .aboutme-h1{
               margin-left: 4%;
              
           }
           .aboutme-span{
               text-align: center;
               margin-left: 2%;
           }
           .aboutme-btn{
       padding: 10px;
       border: none;
       border-radius: 50%;
       background-color:rgb(239, 74, 74);
       margin-top: 3%;
       margin-left: 2%;
           }
           .aboutme-span-2{
               margin-left: 15%;
               text-align: center;
               margin-top: 2%;
           }
           .aboutme-span-3{
               margin-left: 15%;
               text-align: center;
               padding-top: 50%;
           }
 }

 @media only screen and (min-width:768px){
    .main-img{
        width: 150px;
        height: 350px;
        margin-left: 40%;
        margin-top: -60%;
        
    }
    .scroll-btn{
        margin-top: 50px;
        align-items: top;
       margin-bottom: 22%;
    }

    .page1-p2{
        width: 500px;
    }
    .pj-list-btn{
        margin-left: 90%;
        margin-top: 5%;
    }
    .edu-img{
        width: 250px;
        height: 300px;
        border-radius: 30px;
        
    }
    .h1-btn-edu{
        margin-left: 30%;
        margin-top: 5%;
        padding: 10px;
        width: 330px;
        border: none;
        border-radius: 33px;
        background-color: var(--fill-color);
        font-size: 15px;
    }
    .edu-star{
        margin-left: 25%;
        margin-top: 5%;
        font-size: 25px;
    }
    .edu-span{
        font-size: 25px;
        margin-left: 5%;
    }
    .edu-btn{
        margin-left: 30%;
    }
    .pj1{
        margin-left: 25%;
    }
    .pj-wrapper{
        margin-top: 15%;
        margin-left:20%;
    }
      .progress-circle{
        margin-left: 15%;
    }
    .id-img{
        display: none;
    }
 }
 @media  only screen and (min-width:1024px){
    .pj-list-btn{
        margin-left: 35%;
    }
 }
 @media only screen and (min-width:912px){
    .pj-list-btn{
        margin-left: 35%;
    }
 }
 @media only screen and (min-width:540px){
    .pj-list-btn{
        margin-left: 12%;
    }
    .wrapper{
        margin-top: 15%;
    }
 }
 @media only screen and (min-width:1280px){
    .contact{
        display: flex;
    }
    .skill-img{
       width: 300px;
       height: 300px;
    }
    .wrapper{
        margin-top: 5%;
        
    }
    .h1-btn-edu{
        width: 400px;
    }
    .edu-star{
        margin-top: 2%;
    }
    .edu-btn{
        margin-top: 2%;
        margin-left: 33%;
    }
    .pj-wrapper{
        margin-left: 17%;
    }
    .id-img{
        display: none;
    }
    .pj1{
        margin-left: 15%;
    }
    
 }
 
